body{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: auto;
    border: 1px solid black;
}

.container>*{
    width: 45px;
    height: 45px;
}

.gridSizeBtn{
    width: 100px;
    height: 30px;
    margin: 15px auto;   
}